boto==2.45.0
dill==0.2.6
gensim==0.13.4
joblib==1.2.0
jupyter==1.0.0
matplotlib==1.5.3
nltk==3.2.5
numpy==1.13.0
pandas==0.19.2
pymongo==3.3.0
pystruct==0.2.3
python-crfsuite==0.9.1
requests==2.12.4
scikit-learn==0.18.1
seaborn==0.7.1
spacy==0.101.0